.login-page{
    margin-top: 10%;
}

h2{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

form{
    width: 65%;
    margin: 0 auto;
    margin-top: 10%;
}
label{
    width: 100%;
    display: block;
    box-sizing: border-box;
    text-align: left;
}

input{
    padding-left: 30px;
    width: 100%;
    flex-grow: 2;
    outline: none;
}

.login-input{
    display: flex;
    height: 40px;
} 

i{
    vertical-align: bottom;
    width: 20px;
    height: 20px;
    position: absolute;
    padding: 9px 9px;
}

.submit-button{
    background-color: black;
    color: white;
    border: none;
    width: 100%;
    margin: 0 auto;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
}


#password:not(:placeholder-shown):invalid,
#email:not(:placeholder-shown):invalid{
    border: 2px solid red;
}

form:invalid > .submit-button{
    opacity: .5;
    cursor: not-allowed;
}

.error-msg{
    height: 20px;
    font-size: .8em;
    display: block;
}

.hidden-div{
    visibility: hidden;
    height: 20px;
}

@media only screen and (min-width: 1023px) {
    .login-page{
        width: 40%;
        margin: 0 auto;
        margin-top: 5%;
    }
    form{
        margin-top: 5%;
    }
}

.submit-button{
    margin-top: 20px;
}